* {
    box-sizing: border-box;
    font-family: monospace;
}
html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
}
.container {
    display: grid;
    grid-template: repeat(3,1fr) / repeat(3,1fr);
    gap: 0.8vw;
    width: 100%;
    border: 1px solid black;
    padding: 0.8vw;
    background-color: aliceblue;
}
.check {
    border: 1px solid black;
    height: 5vw;
    font-size: 4vw;
    background-color: rgb(220, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameRow {
    display: flex;
    justify-content: space-between;
    margin: 5vw 10vw;
}
.gameContainer {
    width: min(300px,50%);
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin: 0 5vw;
}
.gameResult {
    text-align: center;
    font-size: larger;
}
#clearBtn {
    height: 50px;
    width: 150px;
    align-self: center;
    background-color: beige;
}
.header {
    text-align: center;
}